{{> header}}
    {{> navbar }}
    <div class="jumbotron">
            <h1>Acerca de este sitio</h1>
            <p>Este sitio esta creasdo por quebin</p>

        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a>
    </div>

{{> fooder}}